<%= form_tag path, method: method, class: 'new-edit-form rounded' do %>
  <%= label_tag :name %>
  <%= text_field_tag :name, @shelter.name, class: 'form-control' %><br>
  <%= label_tag :address %>
  <%= text_field_tag :address, @shelter.address, class: 'form-control' %><br>
  <%= label_tag :city %>
  <%= text_field_tag :city, @shelter.city, class: 'form-control' %>
  <%= label_tag :state %>
  <%= text_field_tag :state, @shelter.state, class: 'form-control' %>
  <%= label_tag :zip %>
  <%= text_field_tag :zip, @shelter.zip, class: 'form-control' %><br>
  <div class='form-buttons'>
    <%= submit_tag button_text, class: 'btn btn-success' %>
    <%= link_to "Cancel", "/shelters/#{@shelter.id}", class: 'btn btn-danger' %>
  </div>
<% end %>
