<h1>Add Shelter</h1>

<%= form_for @shelter, :as => :shelter, method: :post do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>
  <%= f.label :address %>
  <%= f.text_field :address %><br>
  <%= f.label :city %>
  <%= f.text_field :city %>
  <%= f.label :state %>
  <%= f.text_field :state %>
  <%= f.label :zip %>
  <%= f.text_field :zip %><br>
  <%= f.submit class: 'btn btn-success' %>
  <%= link_to "<button type='button' class='btn btn-danger'>Cancel</button>".html_safe, "/shelters" %>
<% end %>
