<header>
  <h1><%= @shelter.name %></h1>
</header>
<div class='shelter-show' id='shelterlol'>
<ul id='shelter-info'>
  <li>Address: <%= @shelter.address %></li>
  <li>City: <%= @shelter.city %></li>
  <li>State: <%= @shelter.state %></li>
  <li>Zip: <%= @shelter.zip %></li>
  <li>Pet count: <%= @pet_count %></li>
  <li>Applications count: <%= @app_count %></li>
</ul>
<ul class='edit-delete'>
<li><%= link_to 'Update Info', "/shelters/#{@shelter.id}/edit", class: 'btn btn-success' %></li>
<li><%= link_to 'View Pets', "/shelters/#{@shelter.id}/pets", class: 'btn btn-dark navbar-color' %></li>
<li><%= button_to 'Delete', "/shelters/#{@shelter.id}", method: :delete, class: 'btn btn-danger' %> </li>
</div>
<h3 id='reviews-header'>Reviews</h3>
<h4>Average rating: <%= @avg_rating %></h4>
<%= link_to 'Sort by rating', "/shelters/#{@shelter.id}/?sorted=rating", class: 'btn btn-warning' %>
<%= link_to 'Sort by date', "/shelters/#{@shelter.id}/?sorted=date", class: 'btn btn-secondary' %>
<% @reviews.each do |review| %>
  <div class="media review" id="review-<%= review.id %>">
    <% if review.image && review.image != '' %>
      <img src="<%= review.image %>" class="mr-3" alt="..." style="width:150px;height:150px">
    <% end %>
  <div class="media-body">
    <h5 class="mt-0"><%= review.title %> <span id='rating'>Rating: <%= review.rating %>/5   <%= review.created_at %> </span></h5>
    <p><%= review.content %></p>
  </div>

 <ul class='edit-delete'>
 <li><%= link_to 'Edit', "/shelters/#{@shelter.id}/edit-review/#{review.id}", class: 'btn btn-success' %></li>
 <li><%= button_to 'Delete', "/reviews/#{review.id}", method: :delete, class: 'btn btn-danger' %></li></ul>
 </div>
 <% end %>
<%= link_to 'Add a Review', "/shelters/#{@shelter.id}/new-review", class: 'btn btn-dark navbar-color' %>
