
<h1><%= @shelter.name %></h1>
<ul id='shelter-show'>
  <li>Address: <%= @shelter.address %></li>
  <li>City: <%= @shelter.city %></li>
  <li>State: <%= @shelter.state %></li>
  <li>Zip: <%= @shelter.zip %></li>
</ul>
<ul class='edit-delete'>
<li><%= link_to "<button type='button' class='btn btn-success'>Update Info</button>".html_safe, "/shelters/#{@shelter.id}/edit" %></li>
<li><%= link_to "<button type='button' class='btn btn-primary'>View Pets</button>".html_safe, "/shelters/#{@shelter.id}/pets" %></li>
<li><%= form_tag "/shelters/#{@shelter.id}", method: :delete do %>
  <%= submit_tag 'Delete', class: 'btn btn-danger' %></li></ul>
<% end %>

<h3 id='reviews-header'>Reviews</h3>
<% @reviews.each do |review| %>
  <div class="media review" id="review-<%= review.id %>">
    <% if review.image && review.image != '' %>
      <img src="<%= review.image %>" class="mr-3" alt="..." style="width:150px;height:150px">
    <% end %>
  <div class="media-body">
    <h5 class="mt-0"><%= review.title %> <span id='rating'>Rating: <%= review.rating %>/5</h5>
    <p><%= review.content %></p>
  </div>
 </div>
 <ul class='edit-delete'>
 <li><%= link_to "<button type='button' class='btn btn-success'>Edit</button>".html_safe, "/shelters/#{@shelter.id}/edit-review/#{review.id}" %></li>
 <li><%= form_tag "/reviews/#{review.id}", method: :delete do %>
   <%= submit_tag 'Delete', class: 'btn btn-danger' %>
 <% end %></li></ul>
 <% end %>
<%= link_to "<button type='button' class='btn btn-primary'>Add a Review</button>".html_safe, "/shelters/#{@shelter.id}/new-review" %>
