<header>
  <h1>New Pets Application</h1>
</header>
<%= form_tag "/favorites", class: 'new-edit-form' do %>
  <%= label_tag :name %>
  <%= text_field_tag :name,'', class: 'form-control' %>
  <%= label_tag :address %>
  <%= text_field_tag :address,'', class: 'form-control' %>
  <%= label_tag :city %>
  <%= text_field_tag :city,'', class: 'form-control' %>
  <%= label_tag :state %>
  <%= text_field_tag :state,'', class: 'form-control' %>
  <%= label_tag :zip %>
  <%= text_field_tag :zip,'', class: 'form-control' %>
  <%= label_tag :phone_number %>
  <%= text_field_tag :phone_number,'', class: 'form-control' %>
  <%= label_tag :description %>
  <%= text_area_tag :description,'', class: 'form-control' %><br>
  <%= label_tag "Select Pets" %>
  <div class='form-check'>
  <% @favorited_pets.each do |pet| %>
      <%= label_tag pet[1] %>
      <%= check_box(:pet, pet[0], class: "pet-#{pet[0]}" )%><br>
  <% end %>
  </div>
  <div class='form-buttons'>
    <%= submit_tag 'Submit', class: 'btn btn-success' %>
    <%= link_to "<button type='button' class='btn btn-danger'>Cancel</button>".html_safe, "/favorites" %>
  </div>
<% end %>
