<header>
 <h1>Application #<%= @application.id %></h1>
</header>
<ul>
  <li>Name: <%= @application.name %></li>
  <li>Address: <%= @application.address %></li>
  <li>City: <%= @application.city %></li>
  <li>State: <%= @application.state %></li>
  <li>Zip: <%= @application.zip %></li>
  <li>Phone Number: <%= @application.phone_number %></li>
  <li>Description: <%= @application.description %></li>
</ul>

<h3>Pets Applied For</h3>
<ul class='edit-delete'>
<% @pets.each do |pet| %>
    <li><%= link_to pet.name, "/pets/#{pet.id}" %></li>
    <% if pet.adopter_id == @application.id.to_s %>
      <li><%= button_to 'Revoke Application', "/pets/#{pet.id}/#{@application.id}?adopted=true", method: :patch, class: 'btn btn-danger' %></li>
    <% else %>
      <li><%= button_to 'Approve Pet Application', "/pets/#{pet.id}/#{@application.id}", method: :patch, class: 'btn btn-success' %></li>
    <% end %>
<% end %>
</ul>
