<header>
  <h1>Favorites</h1>
</header>
<% if @favorited_pets.length > 0 %>
  <div class='card-columns'>
    <% @favorited_pets.each do |pet| %>
      <div class="card" style="width: 22rem;" id="favorite-pet-<%= pet.id %>">
        <img class="card-img-top" src="<%= pet.image %>" alt="pet_image" style='height:300px;width:22rem'>
        <div class="card-body pet-index">
          <h5 class="card-title"><%= link_to pet.name, "/pets/#{pet.id}" %></h5>
          <%= button_to 'Remove Favorite', "/favorites/#{pet.id}", method: :delete, class: 'btn btn-warning' %>
        </div>
      </div>
    <% end %>
  </div>
  <div id='application-button'>
  <p id='actual-button'><%= link_to 'Apply for Pets', "/application/new", class: 'btn btn-success' %></p>
  </div>
  <%= button_to 'Remove All Favorite Pets', "/favorites", method: :delete, class: 'btn btn-warning' %>
<% else %>
  <h2>You have no favorites :(</h2>
<% end %>

<h2 style='text-align: center;'>Pets Applied For</h2>
<ul class='applied-pets'>
<% @applied_pets.each do |pet| %>
  <li><%= link_to pet.name, "/pets/#{pet.id}" %></li>
<% end %>
</ul>

<h2 style='text-align: center;'>Approved Pets</h2>
<ul class='applied-pets'>
<% @approved_pets.each do |pet| %>
  <li><%= link_to pet.name, "/pets/#{pet.id}" %></li>
<% end %>
</ul>
