
<h1><%= @pet.name %></h1>

 <img src="<%= @pet.image %>" alt="pet_image" style="width:200px;height:300px">
 <h2>Info</h2>
 <p><%= @pet.description %></p>
 <p>Approximate age: <%= @pet.approx_age %></p>
 <p>Sex: <%= @pet.sex %></p>
 <p>Adoption Status: <%= @pet.adoption_status %></p>
<ul class='edit-delete'>
<li><%= link_to "<button type='button' class='btn btn-success'>Update Info</button>".html_safe, "/pets/#{@pet.id}/edit" %></li>
<li><%= form_tag "/pets/#{@pet.id}", method: :delete do %>
  <%= submit_tag 'Delete', class: 'btn btn-danger' %></li></ul>
<% end %>
