<header>
  <h1>Add a Review</h1>
</header>
 <%= form_tag "/shelters/#{@shelter_id}", class: "new-edit-form rounded" do %>
    <%= label_tag :title %>
    <%= text_field_tag :title,'', class: 'form-control' %>
    <%= label_tag :content %>
    <%= text_area_tag :content,'', class: 'form-control' %>
    <%= label_tag :rating %>
    <%= select_tag :rating, options_for_select((1..5).to_a) %><br>
    <%= label_tag :image %>
    <%= text_field_tag :image,'', class: 'form-control' %>
    <div class='form-buttons'>
      <%= submit_tag 'Submit', class: 'btn btn-success' %>
      <%= link_to "<button type='button' class='btn btn-danger'>Cancel</button>".html_safe, "/shelters/#{@shelter_id}" %>
    </div>
  <% end %>
