<div class = 'new-edit-form'>
  <h1>Add a Review</h1>

 <%= form_tag "/shelters/#{@shelter_id}" do %>
    <%= label_tag :title %>
    <%= text_field_tag :title %><br>
    <%= label_tag :content %>
    <%= text_area_tag :content %><br>
    <%= label_tag :rating %>
    <%= select_tag :rating, options_for_select((1..5).to_a) %>
    <%= label_tag :image %>
    <%= text_field_tag :image %><br>
    <%= @favorited_pets.each do |pet| %>
    <% binding.pry %>
      <%= check_box :pets, { multiple: true }, pet, false %>
      <%= label pet %>
    <% end %>
    <%= submit_tag 'Submit', class: 'btn btn-success' %>
    <%= link_to "<button type='button' class='btn btn-danger'>Cancel</button>".html_safe, "/shelters/#{@shelter_id}" %>
  <% end %>
</div>
